import autoExternal from 'rollup-plugin-auto-external';{{#cli}}
import json from '@rollup/plugin-json';
import executable from 'rollup-plugin-executable';{{/cli}}

export default {
  input: 'src/index.js',
  plugins: [
    autoExternal(){{#cli}},
    json(),
    executable(){{/cli}}
  ],
  output: [{{^cli}}{{#dualMode}}
    {file: 'lib/index.js', format: 'cjs', sourcemap: true},
    {file: 'lib/index.mjs', format: 'esm', sourcemap: true}{{/dualMode}}{{^dualMode}}
    {file: 'lib/index.js', format: 'esm', sourcemap: true}{{/dualMode}}{{/cli}}{{#cli}}
    {file: 'bin/travi.js', format: 'esm', sourcemap: true, banner: '#!/usr/bin/env node'}{{/cli}}
  ]
};
